body {
  min-width: 320px;
}

// NOTE: .container is used in multiple places.
.container {
  max-width: 38rem;
  padding-left:  1.0rem;
  padding-right: 1.0rem;
  margin-left:  auto;
  margin-right: auto;
}

section.game {
  width: auto;
  height: auto;
}
header {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: goldenrod;
  padding: 0 1rem;
  .score {
    display: inline-block;
    float: left;
  }
  .time {
    display: inline-block;
    float: right;
  }
  .number {
    margin-left: .3rem;
  }
}
.game-control {
  display: flex;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: goldenrod;
  padding: 0 1rem;
  .level-selector {
    flex-grow: 1;
    display:table-cell;
    width: auto;
    height: 60px;
    line-height: 60px;
    font-size: inherit;
    float: left;
    select {
      vertical-align: middle;
      margin-left: .3rem;
    }
  }
  .game-control-buttons {
    flex-grow: 3;
    display: flex;
    width: 70%;
    height: 100%;
    padding: .8rem;
    .game-switch {
      flex-grow: 2;
      margin-left: .3rem;
    }
    .game-reset {
      flex-grow: 1;
      margin-left: .3rem;
    }
  }
}

.notifications-wrapper {
  opacity: .8;
}

.bar-graph {
  display: inline-block;
  width: auto;
  height: auto;
  margin-left: .3rem;
  .pixel {
    display: inline-block;
    width: 10px;
    height: 1rem;
    background-color: $gray_3;
    &.filled {
      background-color: $green;
    }
  }
}

@media screen and (min-width: 600px) {}
